@-moz-document url(about:newtab), url(about:home) { 
  main {
		margin: 0 auto !important;
		justify-content: flex-start !important;
		align-items: flex-start !important;
		width: 100% !important;
		overflow: hidden !important;
	}
	.outer-wrapper:before {
		content: '' !important;
		width: 100vw !important;
		top: 0 !important;
		left: 0 !important;
		height: 100vh !important;
		position: fixed !important;
		background-image:url(bg.png);
    background-size: cover !important;
    background-attachment: fixed !important;
		background-position: center !important;
		backdrop-filter: blur(2px) !important;
	}
	.context-menu-button.icon {
		margin-top: 20px !important; /*button is 20px width & height*/
		margin-right: -2px !important; /* originally not aligned with link */
	}

	.top-sites-list {
		gap: 30px !important;
		display: flex !important;
		justify-content: flex-start !important;
		flex-wrap: wrap !important;
		max-width: 850px !important; /* Largeur avec 8 items car pour firefox 1 ligne = 8 items */
	}
	/* originally, tiles don't have any space in-between and are larger than the link therein for visually spacing links*/
	.top-site-outer {
		width: 80px !important; /* originaly 120px */
		background: none !important;
	}
	.top-site-outer .top-site-inner {
		padding: 0 !important
	}
	.top-site-outer .top-site-inner .top-site-icon {
		background-color: transparent !important;
	}
	.top-site-outer .top-site-inner .tile {
		background-color: rgba(255, 255, 255, 0.15) !important;
		border-radius: 16px !important;
	  backdrop-filter: blur(8px) !important;
		-webkit-backdrop-filter: blur(8px) !important;
	}
	.top-site-button {
		padding: 0 !important
	}
}