:root {
	--tab-border-radius : 8px !important
}

.tab-line {
	display: none !important
}

/* tab separator */
:root[tabsintitlebar]:not([extradragspace]) #toolbar-menubar[autohide="true"] + #TabsToolbar .tabbrowser-tab::after, .tabbrowser-tab:hover::after, #tabbrowser-tabs:not([movingtab]) > #tabbrowser-arrowscrollbox > .tabbrowser-tab[beforehovered]::after, .tabbrowser-tab[multiselected]::after, #tabbrowser-tabs:not([movingtab]) > #tabbrowser-arrowscrollbox > .tabbrowser-tab[before-multiselected]::after {
	opacity: 1 !important;
}
#tabbrowser-tabs {
	padding-left: 5px !important
}

.tab-close-button.close-icon, .tab-close-button.close-icon {
	display: none !important;
	border-radius: 20px !important;
}
.tabbrowser-tab:hover .tab-close-button.close-icon, .tab-close-button.close-icon[selected="true"] {
	display: block !important;
}

/* Additionall code for firefox 108.0.1 */

.tab-close-button.close-icon, .tab-close-button.close-icon[selected="true"] {
	display: none !important;
}

.tabbrowser-tab:hover .tab-close-button.close-icon {
	display: block !important;
}

.tabbrowser-tab:hover .tab-close-button {
	display: block !important;
}
#alltabs-button.tabs-alltabs-button {
	/*display: none;*/
}

/* icon button for tab sound */
image.tab-icon-overlay {
	grid-area: 1/2 !important;
	padding: 0px !important;
	background: none !important;
}
/* tab favicon */
.tab-icon-image {
	grid-area: 1/1 !important;
}
:root .tab-icon-stack[indicator-replaces-favicon] > :not(.tab-icon-overlay),
:root #tabbrowser-tabs .tab-icon-stack[indicator-replaces-favicon] > :not(.tab-icon-overlay),
:root #tabbrowser-tabs .tabbrowser-tab:not(:hover) .tab-icon-overlay[indicator-replaces-favicon],
:root #tabbrowser-tabs .tabbrowser-tab:hover .tab-icon-stack[indicator-replaces-favicon] > :not(.tab-icon-overlay) {
	opacity: 1 !important;
}

#pocket-button,
#context-sendimage, 
#context-bookmarklink,
#context-savelinktopocket,
#context-setDesktopBackground,
#context-pocket,
#context-inspect-a11y,
#context-sep-screenshots,
#context-print-selection,
#context-viewpartialsource-selection,
#context-searchselect,
#context-searchselect-private,
#context-sep-selectall,
#context-sendvideo,
#context-sendaudio,
#context-sendpagetodevice,
#context-sep-sendlinktodevice,
#context-sendlinktodevice,
#context-sep-setbackground,
#context-sep-sendpagetodevice,
#context-take-screenshot,
#context-savelink,
#context-media-eme-separator,
#context-openlinkprivate,
#context-stripOnShareLink,
#context-sep-navigation,
menuitem.menuitem-iconic /* context menu items added by extensions */
{
	display: none !important
}